[submodule "modules/VulkanLib"]
	path = modules/VulkanLib
	url = https://github.com/KGAFT/VulkanLib
[submodule "modules/sdl"]
	path = modules/sdl
	url = https://github.com/libsdl-org/SDL

[submodule "modules/jni_hpp"]
	path = modules/jni_hpp
	url = https://github.com/mapbox/jni.hpp
